<div class="header">
  Vier Gewinnt
</div>
<div class="game-wrapper">
  <div>
    <div class="player-wrapper">
      <div class="player-arrow">
        <img src="../assets/down-arrow.svg" *ngIf="currentPlayerId === playerOne.id">
      </div>
      <div class="player-label">
        {{playerOne.name}}
      </div>
    </div>
  </div>
  <div class="gameboard">
    <div class="winner-wrapper" *ngIf="gameFinished">
        {{getCurrentPlayer().name}} hat gewonnen
        <button class="restart-button" (click)="restartGame()">
            Restart
        </button>
    </div>
    <div *ngFor="let tile of gameBoard" class="tile">
      <div (click)="placeStone(tile)" class="stone" [ngClass]="tile.value">
      </div>
    </div>
  </div>
  <div>
    <div class="player-wrapper">
      <div class="player-arrow">
        <img src="../assets/down-arrow.svg" *ngIf="currentPlayerId === playerTwo.id">
      </div>
      <div class="player-label">
        {{playerTwo.name}}
      </div>
    </div>
  </div>
</div>

